@charset "utf-8";
th.oe_padding{
	padding:10px;
	text-align:center;
}
input.oe_input_style_noVal{
	width:50px;
	text-align:right;
}
input.oe_input_style_valYes{
	width:50px;
	text-align:right;
}
td.oe_td_padding_day_holiday{
	padding:10px;
	text-align:center;
	background-color:greenyellow;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	background-image: linear-gradient(#01FF21,#1CFF02 50%,#1CFF02 51%,#2A7B31);
	box-shadow: inset 0 0 10px 5px #2E7C2C;
	
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
	-webkit-font-smoothing: antialiased;
	background-image: linear-gradient(#FF1401,#4A1212 50%,#000000 51%,#F70707);
	box-shadow: inset 0 0px 10px 5px #CF3535;
	color: white;
}
td.oe_td_padding_valYes{
	padding:10px;
	background-color:aliceblue;
}
td.oe_td_padding_noVal{
	padding:10px;
	background-color:beige;
}
td.oe_td_padding_day{
	padding:10px;
	text-align:center;
}
td.oe_td_padding_red{
	padding:10px;
	background-color:#FF2C3C;
}