th.header_table {
    border: 1px solid black;
    padding: 10px;
    background-color: #aac4f3;
    text-align:center;
}

td.table_checkbox {
    background-color: #aac4f3;
    padding:13px;
}

td.table_value {
    border-bottom: 1px solid black;
    padding: 10px;
}

td.table_button {
    border-bottom: 1px solid black;
    padding: 10px;
    background-color: #aac4f3;
}

div.main_check_button {
    padding: 10px; margin:30px;
}
div.user_logged {
	font-weight: bold;
    font-size: large;
    background-color: chartreuse;
    padding: 10;
    width: 20%;
}
div.user_not_logged {
	font-weight: bold;
    font-size: large;
    background-color: orange;
    padding: 10;
    width: 20%;
}
